@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
*
* @project    JIAHE Biochemical co., ltd
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v2.0 - 201812
*

/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { /*1000*/
    #wrap,
    footer{
        width: 100%;
        min-width: 1000px} 
    header,
    #page-main,
    #foot-info{ width: 100%} 
    #container-index,
    #container-page,
    #container-main{ width: 97%}
    #hdr-left h2 a,
    #page-left h2 a{
        width: 190px;
        height: 218px;
        background: url(../images/bg_logo@2x.png) no-repeat;  
        background-size: 190px 218px;
        margin: 0 auto 20px auto} 
    #main-nav{ width: 190px}
    #main-nav li a{ line-height: 3.3rem}
    #main-nav li a:hover{ margin-left: 55px}
    #social_link{ width: 105%}
    #social_link li a{
        width: 35px;
        height: 35px;
        background: none}
    #social_link .icon_fb a{ 
        background: url(../images/icon_facebook@2x.png) no-repeat;
        background-size: 35px 35px}
    #social_link .icon_fb a:hover{ 
        background: url(../images/icon_facebook-hover@2x.png) no-repeat;
        background-size: 35px 35px}
    #social_link .icon_line a{ 
        background: url(../images/icon_line@2x.png) no-repeat;
        background-size: 35px 35px}
    #social_link .icon_line a:hover{ 
        background: url(../images/icon_line-hover@2x.png) no-repeat;
        background-size: 35px 35px}
    #social_link .icon_ig a{ 
        background: url(../images/icon_intsagram@2x.png) no-repeat;
        background-size: 35px 35px}
    #social_link .icon_ig a:hover{ 
        background: url(../images/icon_intsagram-hover@2x.png) no-repeat;
        background-size: 35px 35px}
    #social_link .icon_mail a{ 
        background: url(../images/icon_mail@2x.png) no-repeat;
        background-size: 35px 35px}
    #social_link .icon_mail a:hover{ 
        background: url(../images/icon_mail-hover@2x.png) no-repeat;
        background-size: 35px 35px}
    
    #logo-down{
        background: url(../images/logo_down@2x.png) no-repeat;
        background-size: 126px 191px}
    .fitem-01{ padding: 45px 80px 0 50px}
    #down-social li a{ background: none}
    #down-social .icon_fb a{ 
        background:url(../images/icon_social-down-Facebook@2x.png) no-repeat;
        background-size: 35px 35px}
    #down-social .icon_line a{ 
        background:url(../images/icon_social-down-Line@2x.png) no-repeat;
        background-size: 35px 35px}
    #down-social .icon_ig a{
        background:url(../images/icon_social-down-Intsagram@2x.png) no-repeat;
        background-size: 35px 35px}
    #down-social .icon_mail a{
        background:url(../images/icon_social-down-mail@2x.png) no-repeat;
        background-size: 35px 35px}
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) { /*750*/
    #wrap,
    footer{
        width: 100%;
        min-width: 750px}
    header,
    #page-main{ margin-top: 0; padding-top: 120px}
    #hdr-left,
    #page-left{ display: none}
    #hdr-right,
    #page-right{ width: 100%; margin: 0 auto}
    #hdr-right h3,
    #hdr-right p,
    #page-right h3,
    #page-right p{ display: none}
    #mobile-nav{ 
        display: block;
        position: fixed;
        z-index: 99;
        width: 100%;
        min-width: 750px;
        height: 120px;
        padding: 15px 15px;
        background: #fff;
        border-top: 5px solid #edd07f;
        -webkit-box-shadow: 0 1px 5px #c4c4c4;
        -moz-box-shadow: 0 1px 5px #c4c4c4;
        box-shadow: 0 1px 5px #c4c4c4}
    #mobile-nav h2 a{
        display: block;
        float: left;
        width: 270px;
        height: 90px;
        background: url(../images/bg_logo@RWD.png) no-repeat;
        background-size: 270px 90px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden}
    #trigger-overlay{
        display: block;
        float: right;
        margin-top: 18px;
        width: 50px;
        height: 50px;
        /*font-size: 2em;*/
        /*color: #fff;
        text-align: center;*/
        background: url(../images/icon_Menu.svg) top center no-repeat;
        background-size: 45px 45px;
        opacity: .7;
        border: none;
        cursor: pointer;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px}
    #trigger-overlay:hover{
        /*background: rgba(218,182,54,1);
        color: #fff;*/
        opacity: 1;
        transition: .5s}
    
    #page-right .page-title{ 
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0}
    .fitem-01{ padding: 45px 50px 0 15px}
    .fitem-02{ padding:70px 0 0 0}
    .fitem-03{ padding: 70px 10px 0 30px}
    
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) { /*573*/
    #wrap,
    footer{
        width: 100%;
        min-width: 573px}
    #mobile-nav{ min-width: 573px}
    #foot-info{ flex-wrap: wrap}
    .fitem-01{ width: 30%; padding: 45px 0 0 20px}
    .fitem-02{ width: 69%; padding: 70px 0 0 20px}
    .fitem-03{ width: 90%; padding: 20px 0 0 195px}
    
}

/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) { /*360*/
    #wrap,
    footer{
        width: 100%;
        min-width: 360px}
    #mobile-nav{ min-width: 360px}
    #logo-down{
        width: 90px;
        height: 136px;
        background-size: 90px 136px}
    .fitem-01{ width: 30%; padding: 45px 0 0 20px}
    .fitem-02{ width: 69%; padding: 55px 0 0 20px}
    .fitem-03{ width: 95%; padding: 20px 0 0 35px}
    .fitem-03 h3{ padding-left: 105px}
    #down-social{ width: 85%;  padding-left: 105px}
}

/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 321px) { /*300*/
    #wrap,
    footer{
        width: 100%;
        min-width: 300px}
    header,
    #page-main{ padding-top: 100px}
    #mobile-nav{ 
        min-width: 300px;
        height: 100px}
    #mobile-nav h2 a{
        width: 200px;
        height: 67px;
        background-size: 200px 67px}
    #trigger-overlay{ margin-top: 8px}
    #logo-down{
        width: 90px;
        height: 136px;
        background-size: 90px 136px;
        margin: 0 auto}
    .fitem-01,
    .fitem-02,
    .fitem-03{ width: 100%; padding: 15px 0 0}
    .fitem-01{margin-top: 45px}
    .fitem-02,
    .fitem-03{ padding-left:30px}
    .fitem-03 h3{ padding-left: 0}
    #down-social{ width: 70%;  padding-left: 0}
    #foot-info .fitem-03 p{font-size: 1.3rem}
}


/*
=====================================
for-retina-photo
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2.0), (min-resolution: 192dpi){
    .foot-logo,
    #top-menu h2 a{
        background: url(../images/logo-footer@3x.png) no-repeat;
        background-size: cover} 
    
}