@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
*
* @project    JIAHE Biochemical co., ltd
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v2.0 - 201812
*
*=====================================
* 0. Reset重置
* 1. 通用設定
* 2. 結構設定
*       2.1 區塊設定
*       2.2 結構文字設定
* 3. 頁面設定
*       3.1 關於嘉禾 
*       3.2 醫美產品+影音專區
*       3.3 線上諮詢
*       3.4 培訓課程
*       3.5 錯誤頁
* 4. 選單設定
*       4.1 網站主選單
*       4.2 上方社群連結
*       4.3 下方社群連結
* 5. 按鈕設定
* 6. 載入動畫
* 7. 自訂scrollbar
*=====================================
**/


/*
=====================================
Reset重置
=====================================
*/
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");

/*
=====================================
通用設定
=====================================
*/
html { font-size:62.5% }
body{
	margin: 0;
	padding:0;
	font-family: "Noto Sans TC","Microsoft JhengHei","PingFangTC-Regular", "Arial", "Helvetica", sans-serif;
	font-size: 1rem; /* 1rem=10px */
	color: #735E14;
    background: url(../images/bg_site.jpg) top center no-repeat}
form{ margin:0; padding:0}
image{ border:0}
.clean{ clear:both}
.hidden{ display:none}
h1{display: none}

/*頁面反白設定*/
::selection { background: #46390b; color: #fff}
::-moz-selection { background: #46390b; color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}

/*完美置底*/
html, body, #wrap { height: 100%;}
body > #wrap { height: auto; min-height: 100%;}
#main_content{ padding-bottom: 100px}/*267px*/
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden}
.clearfix { display: inline-block}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%}
.clearfix { display: block}
/* End hide from IE-mac */

/*
=====================================
全站結構
=====================================
*/
/*區塊設定*/
#wrap{ display: block;  
       width: 100%;
       min-width: 1280px}
header,
#page-main{
    display: flex;
    flex-wrap:wrap;
    width: 1280px;
    margin: 0 auto;
    margin-top: 35px}
#hdr-left,
#page-left{ width: 27%; padding-bottom: 0}
#hdr-right,
#page-right{ width: 72%; padding-bottom: 0}

#mobile-nav{ display: none}
#container-index{
    display: block;
    width: 1260px;/*1210px*/
    margin: 30px auto;
    padding-top: 60px}
#container-page{
    display: block;
    width: 100%;
    margin: 30px auto}
#container-main{
    display: block;
    width: 100%;
    padding: 30px 30px 0}

footer{
    display: block;
    width: 100%;
    min-width: 1280px;
    min-height: 267px;
    background: url(../images/bg_footer.png) repeat-x #4E3E04}
#foot-info{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 20px}
.fitem-01{ padding: 45px 80px 0 0}
.fitem-02{ padding:70px 90px 0 0}
.fitem-03{ padding-top: 70px}
#logo-down{
    display: block;
    width: 126px;
    height: 191px;
    background: url(../images/logo_down.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}

/*結構文字設定*/
#hdr-left h2 a,
#page-left h2 a{
    display: block;
    width: 242px;
    height: 278px;
    background: url(../images/bg_logo.png) no-repeat;
    margin: 0 auto 35px auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#hdr-right h3,
#hdr-right p,
#page-right h3,
#page-right p{
    text-align: right;
    padding: 0 8px 15px 0;
    color: rgb(138, 122, 94)}
#hdr-right h3,
#page-right h3{ 
    font-size: 3rem; 
    letter-spacing: 1px;
    font-weight: 400}
#hdr-right p,
#page-right p{ font-size: 1.6rem}
#page-right .page-title{ 
    width: 100%;
    /*height: auto;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px}
#foot-info h3{
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 8px;
    color: #EDDB99}
#foot-info p,
#foot-info li{
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #ECE7C6}

#bar_cookie{
    display: block;
    width: 100%;
    text-align: right;
    padding-right: 15px;
    font-size: 1.5rem;
    line-height: 2.4rem}
#bar_cookie i{
    font-size: 1.3rem;
    margin-right: 8px;
    color: rgb(159, 134, 47)}
#bar_cookie a{
    color: #735E14;
    text-decoration: underline}
#bar_cookie a:hover{
    color: #f50;
    text-decoration: none}

/*
=====================================
頁面設定
=====================================
*/
/*關於嘉禾*/
.mylogo{
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto}
#container-main h4{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.7rem;
    letter-spacing: 1px;
    /*text-indent: 38px;*/
    padding: 0 0 25px 38px;
    background: url(../images/icon_tpoint.svg) 0 5px no-repeat;
    background-size: 30px 20px}
#container-main p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: justify;
    padding-left: 38px;}
#container-main scetion{ 
    display: block;
    width: 100%;
    padding-bottom: 40px}
#container-main a{
    color: #735E14;
    text-decoration: underline}
#container-main a:visited{
    color: #76746e;
    text-decoration: underline}
#container-main a:hover{
    color: #f50;
    text-decoration: none}

/*影音專區+醫美產品*/
#playlist,
#products-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%}
#playlist li{
    display: block;
    position: relative;
    width: 29%;
    margin: 0 2% 30px}
#products-list li{
    display: block;
    width: 29%;
    margin: 0 2% 30px;
    overflow:hidden}
#playlist img,
#products-list img{
    width: 100%;
    height: auto}
#products-list img{
    transform:scale(1,1);transition: all .5s ease-out}
#products-list img:hover{transform:scale(1.1,1.1)}
#playlist h5,
#products-list h5{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    padding: 10px 0;
    text-align: center}
#playlist a{
    display: block;
    position: absolute;
    top:15px;
    left: 70px;
    font-size: 10rem;
    color: rgba(255, 255, 255, .8)}
#playlist a:hover{ color: rgba(255, 255, 255, 1)}


/*線上諮詢*/
#box_contact{
    display: block;
    width: 100%;
    padding-left: 38px}
#box_contact li{
    font-size: 1.6rem;
    line-height: 2.4rem;
    list-style: none;
    margin: 15px 0;
    border-bottom: 1px dotted #cbc6c0}

/*培訓課程*/
#lesson-info{
    display: block;
    padding-left: 38px}
#lesson-info h5{
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    margin-left: 30px}
#lesson-info ol{
    display: block;
    padding-bottom: 30px}
#lesson-info li{
    font-size: 1.6rem;
    line-height: 3.5rem;
    list-style: none;
    margin: 15px 35px;
    border-bottom: 1px dotted #cbc6c0}
#lesson-info i{
    font-size: 1.3rem;
    padding-right: 15px;
    color: rgb(237, 219, 153)}

#box_staff{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 15px auto 0}
.item_staff{
    display: block;
    width: 50%;
    margin-bottom: 40px}
.item_staff img{
    display: block;
    float: left;
    width: 180px;
    height: 250px;
    /*background: #e1e1e1*/}
.staff-info{
    display: block;
    float: right;
    width: 50%;
    text-align: left;
    padding-top: 10px}
.staff-info h5{
    font-size: 2.4rem;
    letter-spacing: 1.5px;
    padding-bottom: 30px}
.staff-info h6{
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 3px 15px;
    margin-bottom: 8px;
    background: #866778;
    color: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px}
.staff-info li{
    font-size: 1.5rem;
    line-height: 2.5rem;
    list-style: none}
.staff-info i{
    font-size: 1.3rem;
    padding-right: 8px;
    color: rgb(237, 219, 153)}
.staff-info span{ padding-left: 21px}

/*錯誤頁*/

/*
=====================================
選單設定
=====================================
*/
/*網站主選單*/
#main-nav{
    width: 242px;
    margin: 0 auto;
    text-align: right;
    list-style: none}
#main-nav li a{
    font-size: 2.2rem;
    letter-spacing: 2px;
    color: #8A7A5E;
    text-decoration: none;
    line-height: 3.5rem}
#main-nav li a:hover{
    display: block;
    padding: 0 15px;
    margin-left: 110px;
    background: rgb(229,195,119);
    color: #fff;
    text-decoration: none;
    /*-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    transition: .8s*/}
.hvr-round-corners {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius}
.hvr-round-corners:hover, 
.hvr-round-corners:focus, 
.hvr-round-corners:active {
  border-radius: 1em}

/*上方社群連結*/
#social_link{
    display: flex;
    flex-wrap:wrap;
    width: 98%;
    padding: 27px 52px 0 50px;
    list-style: none;
    justify-content: space-between}
#social_link li a{
    display: block;
    width: 47px;
    height: 47px;
    background: url(../images/icon_social.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#social_link .icon_fb a:hover{ background-position: 0 -47px}
#social_link .icon_line a{ background-position: -47px 0}
#social_link .icon_line a:hover{ background-position: -47px -47px}
#social_link .icon_ig a{ background-position: -94px 0}
#social_link .icon_ig a:hover{ background-position: -94px -47px}
#social_link .icon_mail a{ background-position: -141px 0}
#social_link .icon_mail a:hover{ background-position: -141px -47px}

/*下方社群連結*/
#down-social{
    display: flex;
    flex-wrap:wrap;
    width: 60%;
    padding-bottom: 20px;
    list-style: none;
    justify-content: space-between;}
#down-social li a{
    display: block;
    width: 35px;
    height: 35px;
    background: url(../images/icon_social-down.png) no-repeat;
    opacity: .7;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#down-social .icon_line a{ background-position: -35px 0}
#down-social .icon_ig a{ background-position: -70px 0}
#down-social .icon_mail a{ background-position: -105px 0}
#down-social .icon_fb a:hover,
#down-social .icon_line a:hover,
#down-social .icon_ig a:hover,
#down-social .icon_mail a:hover{ opacity: 1}

/*
=====================================
按鈕設定
=====================================
*/
.mybtn-xl,
.mybtn-l,
.mybtn-m,
.mybtn-s{
    display: block;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 0 auto;
    text-decoration: none}
.mybtn-xl{ 
    width: 260px;
    padding: 8px 10px}
.mybtn-l{ 
    width: 160px;
    padding: 8px 10px}
.mybtn-m{ 
    width: 120px;
    padding: 8px 10px}
.mybtn-s{
    width: 90px;
    padding: 5px 10px}
.btn_more{ 
    line-height: .8em;
    border-color: #dab633;
    color: #735E14}
.btn_more:hover,
.btn_backto:hover{ 
    background: #735E14;
    color: #fff;
    transition: .5s}
.btn_backto{
    float: right;
    color: #fff;
    background: #3ec7b1;
    padding: 15px 10px;
    margin-bottom: 50px}
.btn_backlist{ display: none}
.btn_line,
.btn_facebook{
    height: 36px;
    border: 0}
.btn_line{ margin: 0 10px 0 0}

/*
=====================================
載入動畫
=====================================
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150px, 0);
    transform: translate3d(0, 150px, 0)}
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)}
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150px, 0);
    transform: translate3d(0, 150px, 0)}
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)}
}
.fadeInUp,
.fadeInUp-01{
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms}
.fadeInUp-01{
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)}
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)}
}


.fadeInRight,
.fadeInRight-01{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 900ms;
    -moz-animation-duration: 900ms;
    animation-duration: 900ms}
.fadeInRight-01{
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)}
}

.fadeInLeft{
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
    -webkit-animation-duration: 1200ms;
    -moz-animation-duration: 1200ms;
    animation-duration: 1200ms}
.fadeInLeft-01{
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 900ms;
    -moz-animation-duration: 900ms;
    animation-duration: 900ms}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0}
  to {
    opacity: 1}
}

@keyframes fadeIn {
  from {
    opacity: 0}
  to {
    opacity: 1}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1500ms;
    -moz-animation-duration: 1500ms;
    animation-duration: 1500ms}

/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: rgba(162,131,20, .5);
  border: 0px none #fff;
  border-radius: 60px}
::-webkit-scrollbar-thumb:hover {
  background: rgba(162,131,20, 1)}
::-webkit-scrollbar-track {
  background: #ECECEC;
  border: 0px none #fff;
  border-radius: 0}